/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'Press Start 2P', sans-serif;
  --heart-fill: #FF0000;


  --normal-wgth: 400;
  --bold-wgth: 700;
  
  --bg-color:  #FFF;
  --accent-color: #000;

  --bg-image: url(../svg/pattern-light.svg);

  --heart-contour: #000;
}